---
import Layout from "../layouts/Layout.astro";
import Letters from "../components/Letters.astro";
---

<Layout title="Cunctae">
    <!-- <h1 class="ojuju-font">Cunctae</h1> -->
    <Letters name="KEK" alt="Cunctae"/>
</Layout>

<style>
    h1 {
        font-size: clamp(2rem, 10vw, 10rem);
        font-family: "Ojuju", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: normal;
    }
</style>
