---
import type FooterLink from "src/types/footer";
import Icon from "./Icon.astro";
import { socialMediaLinks } from "@data/socialMedia.ts";

/** Icon links to social media — edit these with links to your profiles! */
const iconLinks: FooterLink[] = [
    {
        href: socialMediaLinks.instagram,
        label: "Cunctae on instagram",
        icon: "instagram-logo",
    },
    {
        href: socialMediaLinks.mail,
        label: "Contact us",
        icon: "email",
    },
];
---

<footer>
    <section id="links">
        <ul class="socials">
            {
                iconLinks.map(({ href, icon, label }) => (
                    <a href={href} class="social">
                        <span class="sr-only">{label}</span>
                        <Icon icon={icon} />
                    </a>
                ))
            }
        </ul>
        <h6>Cunctae {new Date().getFullYear()} &copy;</h6>
    </section>
</footer>

<style>
    footer {
        background-color: var(--accent-overlay);
        width: 100%;
        bottom: 0;
        padding: 2rem 0;
    }
    #links {
        display: grid;
        justify-items: center;
        align-items: center;
        gap: 0.5rem;
    }

    h6 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 800;
    }

    .socials {
        --icon-size: var(--text-xl);

        display: flex;
        align-items: center;
        justify-items: center;
        list-style: none;
        margin: 0;
        gap: 1rem;
        flex-wrap: wrap;
        font-size: var(--icon-size);
        padding-inline-start: 0;
    }

    .social {
        display: flex;
        padding: var(--icon-padding);
        text-decoration: none;
        color: var(--accent-dark);
        transition: color var(--theme-transition);
    }

    .social:hover,
    .social:focus {
        color: var(--accent-text-over);
    }
</style>
