---
import { letters } from "@data/letters";
interface Props {
    alt: string;
}

const { alt } = Astro.props;
---

<section class="letters">
    {
        letters.map((img) => (
            <img src={img.src} alt={`Letter ${img.id} of ${alt}`} id={img.id} draggable="false"/>
        ))
    }
</section>

<style>
    .letters {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        max-width: 300px;
        gap: 0.5rem;
    }
    .letters img {
        max-height: 3rem;
    }

    .letters:hover {
        animation-play-state: running;
        animation-composition: accumulate;
        animation-timing-function: ease-in-out;
    }

    @media (width <= 1200px) {
        .letters {
            max-width: 300px;
        }
        .letters img {
            max-height: 3rem;
        }
    }

    @media (width <= 900px) {
        .letters {
            max-width: 250px;
        }
        .letters img {
            max-height: 2.5rem;
        }
    }

    @media (width <= 600px) {
        .letters {
            max-width: 180px;
            gap: 0.3rem;
        }
        .letters img {
            height: 2rem;
        }
    }

    @media (width <= 400px) {
        .letters {
            max-width: 140px;
            gap: 0.2rem;
        }
        .letters img {
            height: 1.5rem;
        }
    }

    .letters #c {
        width: 8.125rem;
    }

    @media (width <= 1200px) {
        .letters #c {
            width: 7rem;
        }
    }

    @media (width <= 900px) {
        .letters #c {
            width: 5.5rem;
        }
    }

    @media (width <= 600px) {
        .letters #c {
            width: 3.75rem;
        }
    }

    @media (width <= 400px) {
        .letters #c {
            width: 3.2rem;
        }
    }

    .letters:hover #u,
    .letters:hover #c1,
    .letters:hover #a {
        animation: float-down 2.5s infinite;
        animation-play-state: running;
    }

    .letters:hover #c,
    .letters:hover #n,
    .letters:hover #t,
    .letters:hover #e {
        animation: float-up 2.5s infinite;
        animation-play-state: running;
    }

    #u, #c1, #a {
        animation: float-down 2.5s infinite;
        animation-play-state: paused;
    }

    #c, #n, #t, #e {
        animation: float-up 2.5s infinite;
        animation-play-state: paused;
    }

    @keyframes float-up {
        0% {
            transform: translatey(0rem);
        }
        50% {
            transform: translatey(-0.5rem);
        }
        100% {
            transform: translatey(0rem);
        }
    }

    @keyframes float-down {
        0% {
            transform: translatey(0rem);
        }
        50% {
            transform: translatey(0.5rem);
        }
        100% {
            transform: translatey(0rem);
        }
    }
</style>
