---
import { letters } from "@data/letters";
interface Props {
    alt: string;
}

const { alt } = Astro.props;
---

<a href="/home">
    <section class="letters">
        {
            letters.map((img) => (
                <img id={img.id} src={img.url} alt={alt} draggable="false" />
            ))
        }
    </section>
</a>

<style>
    html {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    .letters {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: auto;
        gap: 1rem;
        cursor: pointer;
    }

    .letters img {
        height: 6.25rem;
    }

    @media (width <= 600px) {
        .letters img {
            height: 2.5rem;
        }
    }

    .letters #c {
        width: 8.125rem;
        animation: float-up 5s infinite;
    }

    @media (width <= 600px) {
        .letters #c {
            width: 3.75rem;
        }
    }

    .letters #u {
        animation: float-down 5s infinite;
    }
    .letters #n {
        animation: float-up 5s infinite;
    }
    .letters #c1 {
        animation: float-down 5s infinite;
    }
    .letters #t {
        animation: float-up 5s infinite;
    }
    .letters #a {
        animation: float-down 5s infinite;
    }
    .letters #e {
        animation: float-up 5s infinite;
    }

    @keyframes float-up {
        0% {
            transform: translatey(0rem);
        }
        50% {
            transform: translatey(-0.5rem);
        }
        100% {
            transform: translatey(0rem);
        }
    }

    @keyframes float-down {
        0% {
            transform: translatey(0rem);
        }
        50% {
            transform: translatey(0.5rem);
        }
        100% {
            transform: translatey(0rem);
        }
    }
</style>
